.blearui-mobilePicker{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 260px;
  width: 100%;
  background: #eee;
  margin-left: -2000px;

  &-header {
    position: relative;
    top: 0;
    left:0;
    padding: 0 10px;
    background: #F7F7F8;
    height: 44px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    &-title {
      text-align: center;
      line-height: 44px;
      font-size: 16px;
    }
    &-sure {
      position: absolute;
      top:0;
      right: 10px;
      line-height: 44px;
      color: #00bfa5;
      font-size: 16px;
    }
  }
  &-items {
    height: 216px;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    display: -webkit-flex;
    display: -webkit-box;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: right;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);

    &-col {
      text-align: center;
      overflow: hidden;
      position: relative;
      max-height: 100%;
      min-width: 40%;
    }
    &-sub {
      height: 36px;
      line-height:  36px;
      padding: 0 10px;
      white-space:nowrap;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      color: #999;
      left:0;
      top:0;
      box-sizing: border-box;
      transition: 300ms;
      -webkit-transition: 300ms;
      font-size: 18px;
    }
    &-wrapper{
      position: relative;
      -webkit-transition: 300ms;
      transition: 300ms;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &-line{
      height:  36px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -18px;
      width:100%;
      pointer-events: none;
    }
    &-selected {
      color: #000;
    }
  }
}



@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px)
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px)
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px)
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp
}




@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px)
  }
}

@keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px)
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
