.blearui-mobilePicker {
  background: #fff; }
  .blearui-mobilePicker-header {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 10px;
    background: #F7F7F8;
    height: 44px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; }
    .blearui-mobilePicker-header-title {
      text-align: center;
      line-height: 44px;
      font-size: 16px; }
    .blearui-mobilePicker-header-sure {
      position: absolute;
      top: 0;
      right: 10px;
      line-height: 44px;
      color: #444;
      font-size: 16px; }
  .blearui-mobilePicker-container {
    height: 220px;
    position: relative;
    overflow: hidden;
    -webkit-mask-box-image: -webkit-linear-gradient(transparent, #000 50%, #000 50%, transparent);
    -webkit-mask-box-image: linear-gradient(transparent, #000 50%, #000 50%, transparent); }
  .blearui-mobilePicker-selects {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    padding: 0; }
  .blearui-mobilePicker-select {
    float: left;
    min-height: 220px;
    list-style: none; }
  .blearui-mobilePicker-options {
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(92px);
    transform: translateY(92px); }
  .blearui-mobilePicker-option {
    color: #333;
    line-height: 36px;
    list-style: none; }
  .blearui-mobilePicker-line {
    height: 36px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -18px;
    width: 100%;
    pointer-events: none; }
